body{
    background-color: lightblue;
}
p{
    text-align: center; font-size:24px; padding:5px
}
.SUMMARY {
    text-align: center;
    font-size: 20px;
}
.PERSONAL_PROJECTS{
    text-align: center; 
    font-size:20px
}
.CLEARANCE {
    text-align: center; 
    font-size:20px
}
.TECHNICAL{
    text-align: center; 
    font-size:20px
}
.EDUCATION{
    text-align: center; 
    font-size:20px
}
.EXPERIENCE{
    text-align: center; 
    font-size:20px
}
.COMMUNITY{
    text-align: center; 
    font-size:20px
}